

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: radial-gradient(circle, 
    rgba(238, 130, 238, 0.4), /* Violet with decreased opacity */
    rgba(0, 0, 255, 0.3),     /* Blue with decreased opacity */
    rgba(76, 0, 130, 0.3));   /* Indigo with decreased opacity */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}
.box{
    padding: 20px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 10px;
}

.upper h1{
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    padding: 10px;
}
.upper p{
    line-height: 32px;
}
.upper, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    margin-top: 10px;
    gap: 20px;
}
form input{
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border-radius: 10px;
    border:none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
form input:focus-visible{
    border: 1px solid rgb(111, 32, 185);
    outline: 1px solid rgb(111, 32, 185);
}
form button{
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    background-color: rgb(111, 32, 185);
    color: white;
    opacity: 0.9;
    transition: 0.3s ease-in;
}
 
form button:hover{
    opacity: 1;
    transition: 0.3s ease-in;
}

form button:active{
    background-color: rgb(23, 3, 42);
}

.qr_container{
    border: 1px solid rgb(111, 32, 185);
    display: flex;
    margin-top: 10px;
    justify-content: center;
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in,height 0.1s ease;
}
.qr_container.show {
    padding: 10px;
    height: 150px;
    opacity: 1;
  
    transition: opacity 0.3s ease-in, height 0.1s ease;
  }
.qr_container img{
    height: 100%;
}
.downloadBtn{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    background-color: rgb(111, 32, 185);
    color: white;
    opacity: 0.9;
    transition: 0.3s ease-in;
}
 
.downloadBtn:hover{
    opacity: 1;
    transition: 0.3s ease-in;
}

.downloadBtn:active{
    background-color: rgb(23, 3, 42);
}
.hidden{
    display: none;
}

